<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/styles.css">

    <title>Admin Panel</title>
</head>
<body>
    <div>
        <form action="/" method="post">
            <% for (let i=0; i<cmds.length; i++){%>
                <% let cmd = cmds[i]; %>
                <div class="box container phone_number">
                    <h3><%= cmd.phone_number %></h3>
                </div>
                <div class="box desc">
                    <% let commands = cmd.commands; %>
                    <% for (let j=0; j<commands.length; j++){%>
                        <% let desc = commands[j]; %>
                        <% for (let key of Object.keys(desc)){%>
                            <% if (key == "salades" || key == "sauces"){%>
                                <h4><%= key %> :</h4>
                                <ul>
                                    <%for (let k of Object.keys(desc[key])){%>
                                        <li><%= k %>: <%= desc[key][k] %></li>
                                    <%}%>
                                </ul>
                            <% } else { %>
                                <% if (desc[key] != ""){%>
                                    <h4><%= key %> : <%= desc[key] %></h4>
                                <%}%>
                            <%}%>
                        <%}%>
                        <hr>
                        <div>
                            <button class="btn btn2 done" type="submit">DONE</button>
                        </div>
                        <div>
                            <button class="btn btn2 undone" type="submit">UNDONE</button>
                        </div>
                    <%}%>
                </div>
            <%}%>
        </form>
    </div>
</body>
</html>